Data/Speeches/speechContent.txt
Data/Speeches/speechMetadata.csv
Code/read_speeches.ipynb
Code/.ipynb_checkpoints/_secret_key-checkpoint.txt
Code/_secret_key.txt
Code/_secret_key
Code/_secret_key2
Data/Speeches/all_cb_speeches.csv
