Data/Speeches/speechContent.txt
Data/Speeches/speechMetadata.csv
Code/read_speeches.ipynb
Code/.ipynb_checkpoints/_secret_key-checkpoint.txt
Code/_secret_key.txt
Code/_secret_key
Data/Speeches/all_cb_speeches.csv
Code/.ipynb_checkpoints/_secret_key4-checkpoint
Code/_secret_key4
Code/.ipynb_checkpoints/3_jsonl_batches_extract-checkpoint.ipynb
Code/.ipynb_checkpoints/3_jsonl_batches_extract_for_macbook-checkpoint.ipynb
Code/.ipynb_checkpoints/3_jsonl_batches_extract_macbook-checkpoint.ipynb
Code/.ipynb_checkpoints/3_jsonl_batches_extract_macbook2-checkpoint.ipynb
Code/.ipynb_checkpoints/3_jsonl_batches_extract-checkpoint.ipynb
Code/.ipynb_checkpoints/3_jsonl_batches_extract_for_macbook-checkpoint.ipynb
